.default-color0.chart-series-line {
    -fx-stroke: transparent;
}
.default-color1.chart-series-line {
    -fx-stroke:  #cc0000;
}

.default-color1.chart-line-symbol {
    -fx-background-color: transparent;
}